.consistants{
    width: 85%;
    margin: 5rem auto;
    .powered {
        width: 50%;
    }
    .powered > h2{
        max-width: 32rem;
        font-size: 40px;
        text-align: left;
        line-height: 48px;
    }
    .powered__list{
        margin: 3rem 0 3rem 0;
        h3 {
            margin-top: 1rem;
        }
        p {
            color: #505256;
        }
    }
}
@media only screen and (max-width: 736px) {
    .consistants__round{
        display: none;
    }
    .powered{
        width: 100%!important;
    }
}