h2{
    margin:6rem auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    max-width: 40rem;
    text-align: center;
}
pre{
    border-radius: 15px;
    height: 30rem!important;
    position: relative;
}